p {
    margin: 0;
    padding: 0;
}

.location-title {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 32px;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid;
}

.location-title b {
    font-weight: 700;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

a:hover {
    color: #aaa;
}

.active a {
    color: #4264FB;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.active a:hover {
    color: #144FB8;
}

.title {
    font-family: 'Suez One', serif;
    display: block;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 40px;
    font-style: italic;
    margin-bottom: 12px;
}

.px-16-icons {
    font-size: 16px;
    line-height: 18px;
    position: relative;
    top: 2px;
}

.artist {
    font-family: 'Miriam Libre', sans-serif;
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 20px;
    margin-bottom: 8px;
}

.body-text {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    display: block;
    max-width: 430px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.body-text-comment {
    letter-spacing: 1px;
    display: block;
}

.spacer-80 {
    height: 80px;
    display: block;
}

.spacer-40 {
    height: 40px;
    display: block;
}

body,html {
    margin: 0;
    padding: 0;
    background: linear-gradient(47deg, #3206D9 0%, #3960F3 83%);
    ;
}

#map {
    position: fixed;
    width: 50%;
    top: 0;
    bottom: 0;
}

.intro {
    height: 90vh;
    /* background: url("../images/background.jpg"); */
    background: linear-gradient(47deg, #3206D9 0%, #3960F3 83%);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.shadow-animation {
    transition: all 1s ease-in-out;
    box-shadow: inset 0 33px 11px 0 rgba(0, 0, 0, 0.50);
    animation: move 20s infinite;
}

.shadow-animation-invert {
    text-shadow: -10 32px 11px 0 rgba(0, 0, 0, 0.50);
    transition: all 1s ease-in-out;
    animation: moveinv 20s infinite;
}

.intro .circle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 32px;
    /* background: #fff; */
    display: inline-block;
    /* border:2px solid #4264FB; */
}
@keyframes moveinv {
    0% {
        text-shadow: -10px 32px 14px rgba(0, 0, 0, 0.50);
    }
    10% {
        text-shadow: 32px 32px 14px rgba(0, 0, 0, 0.50);
    }
    40% {
        text-shadow: 0px 10px 24px rgba(0, 0, 0, 0.50);
    }
    76% {
        text-shadow: -20px -10px 14px rgba(0, 0, 0, 0.50);
    }
    100% {
        text-shadow: -10px 33px 14px rgba(0, 0, 0, 0.50);
    }
}

@keyframes move {
    0% {
        box-shadow: inset -10px 32px 11px 2px rgba(38,59,148,0.70);
    }
    10% {
        box-shadow: inset 32px 32px 11px 2px rgba(38,59,148,0.70);
    }
    40% {
        box-shadow: inset 0px 10px 11px 2px rgba(38,59,148,0.70);
    }
    76% {
        box-shadow: inset -20px -10px 11px 2px rgba(38,59,148,0.70);
    }
    100% {
        box-shadow: inset -10px 33px 11px 2px rgba(38,59,148,0.70);
    }
}



.intro .logo1 {
    font-family: 'Suez One', serif;
    font-size: 40px;
    line-height: 24px;
    margin-bottom: 40px;
    letter-spacing: 8px;
    font-style: italic;
}

.intro .logo2 {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    line-height: 18px;
    margin-bottom: 8px;
    color: rgba(0,0,0,0.6);
}

.intro .logo3 {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
    color: rgba(0,0,0,0.6);
}

intro.active .logo-img img {
    /* filter: blur(0px); */
}

.credits {
    height: 200px;
    background: #4264FB;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    z-index: 1;
    position: relative;
    text-align: center;
}

.credits b {
    padding: 0 5px;
}

.block {
    display: block;
    padding: 0 40px;
}

#features {
    width: 50%;
    padding-left: 50%;
    font-family: sans-serif;
    overflow-y: scroll;
    /* background-color: #fafafa; */
    z-index: 1;
    position: relative;
    
    box-shadow:5px 3px 32px 0 rgba(0, 0, 0, 0.50)
}

section {
    padding: 25px 50px;
    color: #ccc;
    font-size: 13px;
    display: block;
    /* min-height: 600px; */
    direction: rtl;
    background: #fefefe;
    transition: all 0.3s ease-in-out;
}

section.active {
    color: #4264FB;
}

section:last-child {
    border-bottom: none;
    padding-bottom: 200px;
}
#toggle-map {
    display: none;
}


/* TOC
 */
.toc-link {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.toc-link .toc-artist-name  {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #4264FB;
}


.toc-link .toc-artist-work  {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #4264FB;
}

.toc-link .toc-location {
    font-family: 'Suez One', serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #4264FB;
    opacity: 0.4;
}



 @media only screen and (max-width: 750px) {
    #toggle-map {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: #4264FB;
        color:#fff;
        box-shadow: 0px 8px 24px 2px rgba(0,0,0,0.20);
        display: inline-block;
        bottom:24px;
        right: 24px;
        position: fixed;
        z-index: 3;
        transition: all 1s ease-in-out;
        line-height: 56px;
        text-align: center;
    }
    #toggle-map.on {
    color:rgba(255,255,255,0.5);
    }
    .intro {
        height: 600px;
    }
    .intro .logo-img img {
        width: 300px;
    }
    #v0 {
        background: #4264FB;
        color: #fff;
        padding: 24px 16px 40px 16px;
    }
    .block {
        padding: 0 16px;
    }
    #features {
        width: 100%;
        padding-left: 0;
        font-family: sans-serif;
        transition: all 1s ease-in-out;
      opacity: 1;

    }
    #features.disabled {
      opacity: 0;
      pointer-events: none;
    }
    #map {
        width: 100%;
    }
    section {
        box-shadow: 0px 8px 24px 2px rgba(0,0,0,0.20);
        background: #fff;
        padding: 24px 16px 40px 16px;
        margin: 350px 16px 16px 16px;
        border-radius: 12px;
        border-top: 4px solid #4264FB;
    }
    #features {
        background: rgba(255, 255, 255, 0);
    }
    .spacer-80 {
        height: 0px;
    }
    .artist {
        margin-bottom: 8px;
    }
    .body-text {
        font-size: 15px;
        letter-spacing: 0.2px;
        line-height: 22px;
    }
    .title {
        line-height: 28px;
    }
    .intro .logo1 {
        font-size: 30px;
    }
    section:last-child {
        padding-bottom: 40px;
    }

    /* toc */

    .toc-link {
        margin-top: 8px;
    }
    .toc-link .toc-artist-name  {
        color:#fff;

    }
    
    
    .toc-link .toc-artist-work  {
        color:#fff;

    }
    
    .toc-link .toc-location {
      color:#fff;
      margin-top: 16px;
    }

.title-spacer {
opacity: 0;}
}